.navbar {
  width: 100%;
  background: linear-gradient(90deg, #0d1b2a, #142f43, #0a3d62);
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow: hidden;
  height: 70px;
}

.navbar::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(
    270deg,
    transparent 0%,
    #00e5ff 50%,
    transparent 100%
  );
  animation: lineSlide 7s ease-in-out infinite;
  overflow-x: hidden;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(
    270deg,
    transparent 0%,
    #00e5ff 50%,
    transparent 100%
  );
  animation: lineSlide 3.5s ease-in-out infinite;
  overflow-x: hidden;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #2dd4f4;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo-text-nav {
  font-size: 20px;
  font-weight: bold;
}

.logo-text-with-blue-gradient {
  background: linear-gradient(180deg, #5df8f0, #365ae7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  transition: height 0.3s ease-in-out;
}

.nav-links li {
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #2dd4f4;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: 0;
    background: linear-gradient(180deg, #0d1b2a, #142f43);
    width: 220px;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    text-align: right;
    padding: 0;
    gap: 20px;
  }

  .nav-links.open {
    height: 250px;
    padding: 15px;
  }

  .menu-toggle {
    display: flex;
  }
}
